body {
    background-color: #121212;
    color: #fff;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    padding: 10px; /* Reducimos el tamaño del padding */
    text-align: center; /* Para centrar el contenido */
    position: fixed; /* Fija el encabezado en la parte superior de la pantalla */
    top: 0; /* Coloca el encabezado en la parte superior */
    left: 0; /* Asegura que el encabezado se alinee correctamente en la parte izquierda */
    width: 100%; /* Asegura que el encabezado ocupe todo el ancho de la pantalla */
    z-index: 999; /* Asegura que el encabezado esté por encima de otros elementos */
}



header h1 {
    margin: 0;
    color: #fff;
    font-size: 20px; /* Ajusta el tamaño del texto según sea necesario */
}

.slider {
    overflow: hidden;
    position: relative;
    width: 100vw; /* Establecemos el ancho al 100% del ancho de la ventana del navegador */
    height: 50vh; /* Ajustamos la altura al 80% del alto de la ventana del navegador */
    margin: 0; /* Eliminamos el margen izquierdo y derecho */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Añadimos una sombra */
    position: relative; /* Ajuste de posición */
}

.slider .slide {
    transition: opacity 0.5s ease; /* Añadimos una transición suave de 0.5 segundos para la opacidad */
}

.slider .slide img {
    width: 100%; /* Ancho al 100% del contenedor */
    height: 100%; /* Altura al 100% del contenedor */
    object-fit: contain; /* Hacemos que la imagen se ajuste al tamaño del contenedor sin recortarla */
    transition: transform 0.5s ease; /* Añadimos una transición suave de 0.5 segundos para la transformación */
}

.slider:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 20%; /* Altura del recorte en la parte inferior */
    background: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,1)); /* Gradiente transparente a negro */
}

.slide {
    
    display: none;
    opacity: 0; /* Inicialmente, establecemos la opacidad en 0 */
    transition: opacity 1s; /* Agregamos una transición suave para la opacidad *//
}

.slide img {
    width: 100%;
    height: auto;
    object-fit: cover; /* Hacemos que la imagen se adapte al tamaño del contenedor sin deformarse */
}
.slide.active {
    display: block;
    opacity: 1; /* Cuando una diapositiva está activa, establecemos la opacidad en 1 */
}

/* Agregamos estilos para el botón de navegación */

.prev, .next {
    position: absolute;
    top: 30%;
    transform: translateY(-50%);
    background: transparent; /* Hacer los botones transparentes */
    border: none; /* Eliminar bordes */
    color: rgba(255, 255, 255, 0.5); /* Color de la flecha */
    font-size: 24px; /* Tamaño de la flecha */
}

.prev {
    left: 0px;
}

.next {
    right: 0px;
}

.recommendations {
    margin-top: 20px;
    text-align: left; /* Para centrar el contenido */
   
}

.recommendations h2 {
    font-size: 20px;
    font-size: 20px;
    margin-top: 10px; /* Agregamos un margen superior de 30px */
}

.posters {
    display: flex; /* Usamos flexbox para alinear los elementos */
    justify-content: space-between; /* Distribuye los elementos uniformemente a lo largo del contenedor */
    margin-top: 20px;
}

.poster {
    width: calc(30% - 10px); /* Ajusta el ancho del recuadro de poster */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Agrega sombra al recuadro */
    position: relative; 
    overflow: hidden; /* Aseguramos que el contenido dentro del poster no se salga del área del poster */
    transition: all 0.3s; /* Agregamos una transición suave */
}

.poster img {
    width: 100%; /* Ajusta el tamaño de la imagen para que llene el recuadro */
    height: auto;
}

.poster:hover {
    transform: translateY(-5px); /* Eleva ligeramente el poster cuando el cursor pasa por encima */
}

.poster:hover img {
    filter: blur(3px); /* Aplicamos un efecto de difuminado cuando el cursor pasa por encima del poster */
}

.poster .description {
    position: absolute; /* Establecemos posición absoluta para la descripción */
    top: 0; /* Alineamos la descripción en la parte superior */
    left: 0; /* Alineamos la descripción en la parte izquierda */
    width: 100%; /* Cubrimos todo el ancho del poster */
    height: 100%; /* Cubrimos toda la altura del poster */
    background-color: rgba(0, 0, 0, 0.7); /* Fondo semitransparente para la descripción */
    padding: 15px; /* Espaciado interno */
    color: #fff; /* Color del texto */
    font-family: Arial, sans-serif; /* Tipo de letra */
    font-size: 23px; /* Tamaño del texto */
    opacity: 0; /* Ocultamos la descripción inicialmente */
    transition: opacity 0.3s; /* Agregamos una transición suave para la opacidad */
    overflow: hidden; /* Aseguramos que el contenido de la descripción no se desborde */
    pointer-events: none; /* Evitamos que la descripción interrumpa la interacción del usuario con la imagen */
    box-sizing: border-box; /* Hacemos que el padding se incluya en el ancho y alto total */
    text-align: left; /* Alineamos el texto a la izquierda */

}


.poster:hover .description {
    opacity: 1; /* Mostramos la descripción cuando el cursor pasa por encima del poster */
}

footer {
    background-color: #333;
    padding: 5px;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}

footer nav {
    text-align: center;
}

footer button {
    background-color: #555;
    color: #fff;
    border: none;
    padding: 5px 15px;
    margin: 0 10px;
    cursor: pointer;
    border-radius: 5px;
}

footer button:hover {
    background-color: #777;
}
