* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: #121212;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 100vh;
    margin: 0;
}

header {
    width: 100%;
    padding: 20px;
    background-color: #1e1e1e;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #333;
}

h1 {
    font-size: 24px;
    color: #ffffff;
}

.btn-return {
    padding: 10px 20px;
    background-color: #333;
    color: #ffffff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.btn-return:hover {
    background-color: #555;
}

.content {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 20px;
}

.video-description-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 1200px;
    margin-top: 20px;
    position: relative;
}

.video-frame {
    width: auto;
    max-width: 1000px;
    margin-bottom: 20px;
}

.video-frame video {
    width: 100%;
    height: 500px;
    border: none;
    border-radius: 5px;
}

.description-box {
    background-color: #1e1e1e;
    padding: 20px;
    border-radius: 10px;
    width: 100%;
    max-width: 800px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    color: #d3d3d3;
    font-size: 16px;
    line-height: 1.5;
    order: 4;
}

button.prev, button.next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    border: none;
    color: white;
    font-size: 2em;
    padding: 10px;
    cursor: pointer;
    z-index: 1;
    outline: none;
}

button.prev {
    left: 0;
}

button.next {
    right: 0;
}

button.prev:hover, button.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

button.prev a, button.next a {
    color: white;
    text-decoration: none;
}

button.prev a:focus, button.next a:focus {
    outline: none;
}

/* Estilos específicos para móviles */
@media screen and (max-width: 768px) {
    .video-description-container {
        flex-direction: column;
        align-items: center;
    }

    .video-frame {
        position: relative;
        width: 100%;
        margin-bottom: 20px; /* Ajuste opcional del margen inferior */
    }

    .description-box {
        order: 2; /* Mover la descripción debajo del reproductor */
        margin-top: 20px; /* Ajuste opcional del margen superior de la descripción */
    }

    .buttons-container {
        order: 3; /* Mover los botones debajo de la descripción */
        margin-top: 40px; /* Ajuste el margen superior de los botones */
    }

    button.prev, button.next {
        position: static;
        margin: 5;
    }
}
