* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: #121212;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start; /* Cambiado a flex-start para alinear desde arriba */
    height: 100vh;
    margin: 0;
}

header {
    width: 100%;
    padding: 20px;
    background-color: #1e1e1e;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #333;
}

h1 {
    font-size: 24px;
    color: #ffffff;
}

.btn-return {
    padding: 10px 20px;
    background-color: #333;
    color: #ffffff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.btn-return:hover {
    background-color: #555;
}

.content {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: flex-start; /* Cambiado a flex-start para alinear desde arriba */
    padding: 20px;
}

.video-description-container {
    display: flex;
    flex-direction: column; /* Cambiado a columna para apilar los elementos */
    align-items: center; /* Centrado de los elementos */
    width: 100%;
    max-width: 1200px;
    margin-top: 20px; /* Espacio superior añadido */
}

.video-frame {
    width: auto; /* Ajuste del ancho al 100% */
    max-width: 1000px; /* Máximo ancho del reproductor */
    margin-bottom: 20px; /* Espacio inferior añadido */
}

.video-frame iframe {
    width: 100%; /* Ajuste el ancho al 100% del contenedor */
    height: 500px; /* Altura fija para el reproductor de video */
    border: none;
    border-radius: 5px;
}

.description-box {
    background-color: #1e1e1e;
    padding: 20px;
    border-radius: 10px;
    width: 100%; /* Ancho ajustado al 100% */
    max-width: 800px; /* Máximo ancho de la descripción */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    color: #d3d3d3;
    font-size: 16px;
    line-height: 1.5;
}
