body {
    background-color: #000;
    color: #fff;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #222;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

h1 {
    margin: 0;
}

.btn-return {
    color: #fff;
    background-color: #444;
    padding: 8px 20px;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 10px;
    display: inline-block;
}

.content {
    text-align: center;
    padding: 20px;
}

.video-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
}

.video-container iframe {
    width: 100%; /* Ajusta el ancho al 100% del contenedor */
    height: auto; /* Ajusta la altura automáticamente según el ancho */
    display: block; /* Elimina el espacio debajo del iframe */
    margin: 0 auto; /* Centra horizontalmente */
    border: 1px solid #444; /* Borde para el iframe*/
}

.btn-next {
    position: absolute;
    bottom: 10px; /* Distancia desde abajo */
    right: 10px; /* Distancia desde la derecha */
    background-color: #444;
    color: #fff;
    padding: 8px 20px;
    text-decoration: none;
    border-radius: 5px;
}
